<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Informations</title>
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

</head>
<body>
<header><a href="../../index.html">Rechercher un contact</a></header>
<main>
  <div class="page-title">
    <p>nom contact</p>
    <a class="button" id="edit-button" href="#">Editer</a>
  </div>
  <div>
    <p><strong>INFORMATIONS</strong></p>
    <table id="info-table">
      <tr>
        <td>Prénom & NOM</td>
        <td></td>
      </tr>
      <tr>
        <td>Téléphone</td>
        <td></td>
      </tr>
      <tr>
        <td>Email</td>
        <td></td>
      </tr>
      <tr>
        <td>Adresse</td>
        <td></td>
      </tr>
    </table>
  </div>
</main>
</body>
</html>