* {
    margin : 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
}

body {
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: royalblue;
    color: white;
    padding-left:5vw;
}

header a {
    color: white;
}

main {
    padding: 0 5vw 0 5vw;
}

main div {
    background-color: white;
    padding: 20px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.page-title {
    display: flex;
    justify-content: space-between;
}

.page-title p {
    font-size: large;
}

#search-element {
    padding: 0 25vw 0 25vw;
    display: flex;
    flex-direction: column;
}

#search-element * {
    margin: 2px 0 2px 0;
}

.button {
    background-color: darkorange;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    width: 150px;
    height: 25px;
    align-self: end;
}

.button:hover {
    border-color: whitesmoke;
    background-color: #d57a1e;
}

.button:active {
    background-color: darkorange;
    border-color: transparent;
}

table {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
}

#contact-table tr {
    height: 40px;
    border-top: thin solid whitesmoke;
    border-bottom: thin solid whitesmoke;
}

#contact-table tr:first-child {
    background-color: antiquewhite;
    border-top: none;
}

#contact-table tr:last-child {
    border-bottom: none;
}

td {
    padding: 0 10px 0 10px;
}

#info-table {
    table-layout: fixed;
}

#info-table tr td:first-child {
    border-right: medium solid whitesmoke;
}

#info-table tr td:first-child {
    text-align: end;
}

#edit-button {
    width: 100px;
    text-align: center;
}

#edit-buttons {
    display: flex;
    justify-content: end;
}

#cancel-button {
    width: 100px;
    height: 25px;
    color: black;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}

#cancel-button:hover {
    background-color: rgba(176, 176, 176, 0.35);
}

#cancel-button:active {
    background-color: transparent;
}

#save-button {
    width: 100px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: limegreen;
    text-align: center;
}

#save-button:hover {
    background-color: #39be39;
}

#save-button:active {
    background-color: limegreen;
}